{{ 'component-blog-heading.css' | asset_url | stylesheet_tag }}

<!-- Start Heading -->
<div class="d-block relative heading">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 center">
                <h1 class="mt-8 mb-8 center">{{ blog.title }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Heading -->
