<details-modal class="header__search" data-search-modal>
    <details>
        <summary class="visually-hidden" aria-label="Search Form">Search</summary>
        <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="Search">
            <div class="modal-overlay"></div>
            <div class="search-modal__content" tabindex="-1">
                
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                        <input class="search__input field__input"
                            id="Search-In-Modal"
                            type="search"
                            name="q"
                            value=""
                            placeholder="Search"
                            
                        >
                        <label class="field__label" for="Search-In-Modal">Search</label>
                        <input type="hidden" name="options[prefix]" value="last">
                        <button class="search__button field__button" aria-label="Search">
                            {% render 'svg-icon-search' %}
                        </button>
                    </div>
                </form>
                
                <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="Close" data-close-search>
                    {% render 'svg-icon-close' %}
                </button>
              </div><!-- end .search-modal__content -->
        </div><!-- end .search-modal -->
    </details>
</details-modal>

