{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-breadcrumb.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

{% render 'blog-heading' %}

{% render 'breadcrumbs' %}

<!-- Start Blog Articles -->
<div class="container">
    {%- paginate blog.articles by 6 -%}

        <div class="blog-articles">
            {%- for article in blog.articles -%}
                {% render 'article-card', article: article %}
            {%- endfor -%}
        </div>

        {%- if paginate.pages > 0 -%}
            {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
    {%- endpaginate -%}
</div>
<!-- End Blog Articles -->

{% schema %}
{
    "name": "Blog",
    "tag": "section",
    "class": "main-blog"
}
{% endschema %}
