{{ 'component-rte.css' | asset_url | stylesheet_tag }}

<!-- Start Heading -->
<div class="d-block relative heading">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 center">
                <h1 class="mt-8 mb-8 uppercase">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Heading -->

{% if page.template_suffix == 'image-grid' %}

    {% comment %} {% assign content = page.content | split: '[image-grid]' %}

    {% assign pre_grid = content[0] %}

    {% assign post_grid = content[1] %} {% endcomment %}

    <section class="spaced-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="rte">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="image-grid-section">
    </section>

    {% else %}

    <section class="spaced-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="rte">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endif %}

{% javascript %}

    (function(window, document, undefined) {

        if ( document.querySelector('#image-grid-section') && document.querySelector('.page-image-grid') ) {

            let pageImageGridWrapper = document.querySelector('#image-grid-section');

            let pageImageGrid = document.querySelector('.page-image-grid');

            pageImageGridWrapper.appendChild(pageImageGrid);

        }

    })(window, document);

{% endjavascript %}