{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

<div class="container">
    <!-- Start Heading -->
    <div class="row">
        <div class="col-12">
            <h1 class="uppercase center mt-0">{{ section.settings.title | escape }}</h1>
        </div>
    </div>
    <!-- End Heading -->

    <!-- Start List Collections  -->
    <div class="collection-list row pt-5">
        {%- for collection in collections -%}
            {% if collection.all_products_count > 0 %}
                <div class="col-lg-3 col-md-6">
                    <a href="{{ collection.url }}" class="card animate-arrow">
                        <div class="card--media">
                            {%- if collection.featured_image != blank -%}
                                {% render 'object-image', path: collection.featured_image, alt: collection.title %}
                            {%- endif -%}
                        </div>
                        <div class="card--text">
                            <h2 class="h3">{{- collection.title -}}
                                <span class="icon-wrap">&nbsp;{% render 'svg-icon-arrow-right' %}</span></h2>
                        </div>
                    </a>
                </div>
            {% endif %}
        {%- endfor -%}
    </div>
    <!-- End List Collections  -->
</div>

{% schema %}
{
    "name": "Collection List",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Collections"
        }
    ]
}
{% endschema %}