.card-wrapper {
    position: relative;
    text-align: center;
    height: 100%;
    padding-bottom: 0;
}

.card-wrapper > a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.card-wrapper .media {
    max-height: 35rem;
}

.card-wrapper .atc-btn {
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin-top: 1.5rem;
    border-bottom: .1rem solid var(--color-primary);
    align-self: center;
}

.card-wrapper .atc-btn:hover {
    border-bottom-color: rgba(var(--color-primary),0.5);
}

@media screen and (min-width: 990px) {
    .card-wrapper a .media>img:only-child {
        transition: transform var(--duration-long) ease;
    }
}

@media screen and (min-width: 990px) {
    .card-wrapper a:hover .media>img:only-child {
        transform: scale(1.03);
    }
}
