.menu-drawer {
    position: absolute;
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 3;
    left: 0;
    top: 100%;
    width: 100vw;
    height: calc(100vh - 100%);
    padding: 1.5rem;
    background-color: rgb(var(--color-light-rgb));
    overflow-x: hidden;
    transition: transform var(--duration-short) ease, visibility var(--duration-short) ease;
}

.mobile-menu-open .menu-drawer {
    transform: translateX(0);
    visibility: visible;
}

.menu-drawer__inner-container {
    position: relative;
    height: 100%;
}

.menu-drawer__navigation-container {
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: space-between;
    overflow-y: auto;
}

.menu-drawer__menu-item {
    color: rgb(var(--color-secondary-rgb));
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .75px;
    padding: 1.5rem 0;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    line-height: 1.15;
}

.menu-drawer__menu li {
    display: grid;
}

.menu-drawer__menu-item.menu-drawer__menu-item--active {
    color: rgb(var(--color-primary-rgb));
}

.menu-drawer__menu-item {
    cursor: pointer;
}

.menu-drawer__menu-item.active svg {
    transform: rotate(90deg);
}

.menu-drawer__menu-item.inner-menu-accordion.active svg {
    transform: rotate(0deg);
}

.menu-drawer__menu .panel,
.menu-drawer__menu .inner-panel {
    display: none;
    overflow: hidden;
}

.menu-drawer__menu .panel {
    padding: 0 2rem;
}

.inner-grid {
    display: grid;
}

.inner-menu-accordion .bi-dash {
    display: none;
}

.inner-menu-accordion.active .bi-plus {
    display: none;
}

.inner-menu-accordion.active .bi-dash {
    display: block;
}

.menu-drawer__footer a {
    padding-top: 0;
}

.social-talk {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-talk ul,
.social-talk a {
    padding: 0;
    margin: 0;
}

.social-talk a.mm-talk {
    display: flex;
    width: 4rem;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 100%;
    color: rgb(var(--color-neutral-rgb));
    background-color: rgb(var(--color-top_bar-rgb));
    min-width: 0;
}
