.article-card {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.article-card small {
    text-transform: uppercase;
    color: rgba(var(--color-secondary-rgb), .5);
}

.article-card h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 992px) {
    .article-card h2 {
        flex-grow: 1;
    }
}

.article-card .button {
  width: auto;
  margin: 0 auto;
}
