.product-media {
  display: flex;
}
.product-slider {
  width: calc(100% - 130px);
}
.product-thumbnails {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.product-thumbnail {
  width: 120px;
  height: auto;
  margin: 0 0 5px 0;
  cursor: pointer;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.shopify-product-form .select {
  max-width: 150px;
}


/*.product-thumbnail.active {
  border: 2px solid #888;
}*/

/*.swiper {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    cursor: pointer;
}

.thumbnail-slider {
    padding-top: 1.3rem;
    padding-bottom: 3rem;
}

.thumbnail-slider .swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}

.swiper-pagination-bullet {
    width: 2.2rem;
    height: .6rem;
    border-radius: 0;
    background-color: rgba(var(--color-top_bar-rgb), .75);
}

.swiper-pagination-bullet-active {
    background: rgba(var(--color-top_bar-rgb), 1);
}

.swiper-wrapper {
    justify-content: center;
}*/

/* Product Description */
.main-product {
    display: block;
    position: relative;
    padding-bottom: 3rem;
}

.main-product h1 {
    text-transform: uppercase;
    font-weight: 300;
}

.main-product .price {
    font-size: 1.8rem;
    justify-content: flex-start;
}

.main-product .price--on-sale .price-item--regular {
    font-size: 1.6rem;
}

variant-selects,
variant-radios {
    display: block;
    margin: 2.5rem 0 0;
}

.product-form__input {
    flex: 0 0 100%;
    padding: 0;
    margin: 0 0 1.2rem 0;
    max-width: 37rem;
    /*min-width: fit-content;*/
    border: none;
}

.product-form__input .form__label {
    padding-left: 0;
}

fieldset.product-form__input .form__label {
    margin-bottom: .2rem;
}

.product-form__input input[type=radio] {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

.product-form__input input[type=radio]+label {
    border: .1rem solid rgba(var(--color-secondary-rgb),.55);
    border-radius: 4rem;
    background-color: rgb(var(--color-neutral-rgb));
    color: rgb(var(--color-secondary-rgb));
    display: inline-block;
    margin: .7rem .5rem .2rem 0;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
}

.product-form__input input[type=radio]:checked+label {
    background-color: rgb(var(--color-secondary-rgb));
    color: rgb(var(--color-neutral-rgb));
}

.product-form__quantity {
    margin: 1.5rem 0;
    max-width: 150px;
}

.product-form__buttons {
    margin: 2.5rem 0;
}

/* Product Accordion */

.product__accordion svg {
    width: 2.5rem;
    height: auto;
    transition: var(--duration-long) transform;
}

.product__accordion button {
    cursor: pointer;
}

.product__accordion button.active svg {
    transform: rotate(-225deg);
}

.product__accordion .accordion__description {
    max-height: 0;
    overflow: hidden;
    font-weight: 300;
    font-size: 1.4rem;
    transition: max-height var(--duration-long) ease-in-out;
}

.product__accordion .accordion__description.open {
    max-height: unset;
}

/* Product Guarantees */
.product__guarantees li {
    width: 7rem;
    height: auto;
}

/* Product Notes */
.product__notes {
    font-size: 1.3rem;
    line-height: 1.6;
}

/* Product Info */
.product__info {
    padding: 2.5rem 0;
    background-color: #f0f0f0;
}

.product__info-icon {
    max-width: 7.6rem;
    height: auto;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 1024px) {
    .product__info-box {
        padding: 0 2.5rem;
    }
}

.star-rating {
    max-width: 20rem;
    display: block;
}


@media (max-width: 600px) {
  .product-media {
    flex-direction: column-reverse;
  }
  .product-slider {
    width: 100%;
  }
  .product-thumbnails {
    flex-direction: row;
    margin-bottom: 20px;
  }
  .product-thumbnail {
    margin: 0 5px;
  }
  .product-thumbnail:first-child {
    margin-left: 0;
  }
  .product-thumbnail:first-child {
    margin-right: 0;
  }
  .product-form__input, .shopify-product-form .select, .product-form__quantity {
    max-width: none;
  }
}
