.collection-list {
    position: relative;

}

.collection-list.row > * {
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.card {
    display: block;
    overflow: hidden;
    text-decoration: none;
    border: .1rem solid rgba(var(--color-secondary-rgb),.04);
}

.card--media {
    position: relative;    
    height: 100%;
    color: rgba(var(--color-secondary-rgb),.75);
    background-color: transparent;
}

.card--media .media {
    max-height: 35rem;
    min-height: 35rem;
}

@media screen and (min-width: 990px) {
    .card .card--media .media>img:only-child {
        transition: transform var(--duration-long) ease;
    } 
}

@media screen and (min-width: 990px) {
    .card:hover .card--media .media>img:only-child {
        transform: scale(1.03);
    } 
}

.card--text {
    margin: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    word-break: break-word;
    background-color: rgba(var(--color-secondary-rgb),.04);
}

@media screen and (min-width: 750px) {
    .card--text {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.animate-arrow .icon-arrow path {
    transform: translateX(-.25rem);
    transition: transform var(--duration-short) ease;
}

.animate-arrow:hover .bi-arrow-right path {
    transform: translateX(0rem);
}