.footer {
  background-color: var(--color-light);
  color: var(--color-neutral);
  padding: 5rem 0;
  font-family: var(--font-heading-family);
  font-size: 1.6rem;
}

.footer p,
.footer a {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--color-secondary);
  font-family: var(--font-body-family);
}

.footer h4 {
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-top: 0;
  margin-bottom: 0.83em;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  font-family: var(--font-body-family);
}

.newsletter__wrapper {
  padding-right: 5rem;
}

@media screen and (max-width: 576px) {
  .newsletter__wrapper {
    padding-right: 0;
  }
}

.newsletter-form {
  position: relative;
}

.newsletter-form__button {
  background-color: #fff;
  color: var(--color-neutral);
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.75rem 1.5rem;
  margin-left: 1rem;
  border: 1px solid #fff;
}

.newsletter-form__button:hover,
.newsletter-form__button:not([disabled]):hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.newsletter-form .field__input,
#email_address_0 {
  background-color: var(--color-light) !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0.75rem 1.5rem;
  height: auto;
  font-weight: 300;
}

#ctct_form_0 {
  background: var(--color-light);
}

.newsletter-form .field__label {
  left: 1.5rem;
  top: 1.5rem;
  font-size: 1.2rem;
  background-color: var(--color-light);
}

.ctct-form-embed.form_0 .ctct-form-custom .ctct-form-label {
  background-color: var(--color-light);
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-top: 1.83em;
  margin-bottom: 0.83em;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .newsletter-form .field__input {
    padding: 0.75rem 1rem;
  }

  .newsletter-form__button {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 992px) {
  .footer__content-bottom p {
    text-align: center;
  }
}

.footer-menu .link--text:hover {
  color: var(--color-secondary) !important;
}

.ctct-form-header,
.ctct-form-text,
.ctct-gdpr-text,
.ctct-form-footer,
#email_address_label_0::before {
  display: none !important;
  visibility: hidden !important;
}

.ctct-form-defaults {
  padding: 0 !important;
}

#email_address_field_0 {
  margin-bottom: 1rem !important;
}

.ctct-form-button {
  background-color: #fff !important;
  color: #000 !important;
  text-transform: uppercase !important;
  padding: 0.75rem 1.5rem !important;
  margin-left: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.16) !important;
  border-radius: 0 !important;
}

.ctct-form-button:hover,
.ctct-form-button:focus {
  border: 1px solid rgba(0, 0, 0, 1) !important;
}

#email_address_0 {
  border-radius: 0 !important;
  background-color: #fff !important;
  border: 1px solid rgb(0 0 0 / 16%);
}

#email_address_0:focus {
  outline: none;
  border-color: #000;
}
