.article-template {
    padding: 0 0 5rem 0;
}

.article-template .article-tags {
    text-transform: uppercase;
    color: rgba(var(--color-secondary-rgb), .5);
    text-align: center;
    margin-bottom: 2rem;
    display: block;
}

.article-template header {
    margin: 3rem 0;
}

.social-sharing {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.social-sharing li {
    padding: 0 1rem;
}

.article-template .rte a {
    color: var(--color-primary);
}
