.empty-collection {
    background-color: var(--color-light);
    border: 1px solid rgba(var(--color-primary-rgb), .5);
    color: var(--color-secondary);
    padding: 2rem;
    text-align: center;
    margin: 1rem 0;
}

.product-grid .row > * {
    padding-top: calc(var(--bs-gutter-x) * .75);
    padding-bottom: calc(var(--bs-gutter-x) * .75);
}

.product-grid .media > img {
  object-fit: contain;
}

.product-card-title {
  flex-grow: 1;
}

.product-card-price {
  display: block;
}

.full-unstyled-link:hover .product-card-price {
  color: rgb(var(--color-primary-rgb));
}

.product-card-price > .price,
.product-card-price > .price dl,
.product-card-price > .price dl > .price--sold-out .price__availability,
.product-card-price > .price dl > .price__regular,
.product-card-price > .price dd,
.product-card-price > .price dt {
  display: inline;
}
